<div style="border:solid black 2px; padding: 20px">

# Reviewer's Introduction

Halo Viska!

Saya Yosef, pada kesempatan kali ini saya akan memeriksa proyek kamu.

Kamu bisa melihat komentar saya di bagian bawah kode - tolong **jangan dipindah, diubah, atau dihapus** ya supaya saya bisa cek kembali ketika sudah kamu perbaiki.
    
Komentar dari saya bisa dalam kotak berwarna hijau, kuning, atau merah sebagai berikut

<div class="alert alert-block alert-success">
<b>Reviewer's comment</b> <a class="tocSkip"></a>

Bagus, semua berjalan lancar.
</div>

<div class="alert alert-block alert-warning">
<b>Reviewer's comment</b> <a class="tocSkip"></a>

Ada catatan.
</div>

<div class="alert alert-block alert-danger">

<b>Reviewer's comment</b> <a class="tocSkip"></a>

Perlu perbaikan.
</div>

Viska bisa merespon komentar saya dengan kotak berwarna biru, seperti ini

<div class="alert alert-block alert-info">
<b>Student's comment</b> <a class="tocSkip"></a>
    
Baik kak. <a class="tocSkip"></a>
</div>
    
Mohon diingat beberapa hal penting terkait proyek ini:
- proyek belum bisa diterima jika masih ada komentar dengan kotak berwarna merah
- tenang saja, kamu punya 3 kali kesempatan memperbaiki
- tapi ingat, pada setiap kesempatan kamu punya waktu maksimal 1 x 24 jam untuk memperbaiki proyek ya
    
</div>

<div style="border:solid black 1px; padding: 20px" class="alert alert-block alert-warning">
    
# Reviewer's general feedback v1

Terima kasih Viska sudah mengirimkan proyek ini!
    
Secara umum proyek kamu sudah **sangat baik**! Saya bisa melihat kamu sudah berusaha mengerjakan proyek dengan semaksimal mungkin. Hanya ada beberapa catatan pada kotak berwarna kuning dan merah yang dengan mudah bisa kamu perbaiki, setelah itu proyek bisa disetujui.

Jika ada yang kurang jelas atau pertanyaan, jangan ragu untuk tulis di notebook ini dengan kotak berwarna biru seperti yang sudah dicontohkan di atas.
    
*Good luck!*

</div>

<div style="border:solid black 1px; padding: 20px" class="alert alert-block alert-danger">
    
# Reviewer's general feedback v2

Terima kasih sudah memperbaiki proyek ini!
    
Perbaikan kamu sudah sangat bagus, hanya ada satu baris komentar yang belum kamu tuliskan menggunakan tanda `#` sehingga mengakibatkan notebook error saat dijalankan, bisa kamu perbaiki dengan mudah ya. Selain itu, pastikan lagi tidak menggunakan `print` jika hanya 1 baris kode. Untuk kode yang ingin menampilkan keluaran lebih dari 1 fungsi, kamu bisa memisahkan saja kode-kode tersebut menjadi beberapa cell terpisah sehingga pembaca lebih mudah memahami alur kode pada notebook kamu. Selebihnya sudah sangat baik dan setelah kamu memperbaiki catatan pada kotak berwarna kuning dan merah maka proyek kamu bisa disetujui.
    
Jangan ragu untuk mengontak tim tutor ya jika kamu masih memiliki pertanyaan, atau kamu juga bisa menuliskan pertanyaan/komentar pada notebook ini menggunakan kotak berwarna biru seperti yang sudah saya contohkan di atas.
    
Tetap semangat, Viska!

</div>

<div style="border:solid black 1px; padding: 20px" class="alert alert-block alert-danger">
    
# Reviewer's general feedback v3

Terima kasih sudah memperbaiki proyek ini!
    
Proyek kamu sedikit lagi bisa diterima, hanya ada 3 catatan dalam kotak berwarna merah yang perlu kamu perbaiki ya. Catatan pertama ada pada bagian definisi fungsi `number_tracks`. Perhatikan baris pertamanya ya karena masih ada kesalahan dalam notasi filter yang mengakibatkan notebook error saat dijalankan. Yang kedua dan ketiga terkait filter genre masing-masing kota, karena sekarang ada kesalahan penulisan variabel. Setelah memperbaiki ketiga catatan ini, kamu bisa menguji dan memastikan bahwa notebook bisa dijalankan dari awal hingga akhir dengan sukses dengan menggunakan menu `Kernel > Restart & Run All`.
    
Jika kamu punya pertanyaan, kamu bisa mengontak tim tutor yang siap membantu kamu dalam mengerjakan proyek ini ya.

Sedikit lagi Viska, pasti bisa!
</div>

<div style="border:solid black 1px; padding: 20px" class="alert alert-block alert-success">
    
# Reviewer's general feedback v4

Terima kasih sudah memperbaiki proyek ini! Kamu sudah mengikuti setiap catatan yang saya tuliskan dengan sangat baik dan proyek kamu sekarang sudah bisa diterima.
    
Semoga kamu mulai memahami pola dan fungsi-fungsi dasar python yang umum digunakan untuk analisis data ya. Tetap semangat dalam melanjutkan perjalanan belajarmu, semoga banyak yang bisa kamu dapatkan dari mengerjakan proyek-proyek berikutnya!
</div>

# Y.Music

# Konten <a id='back'></a>

* [Pendahuluan](#intro)
* [Tahap 1. Ikhtisar Data](#data_review)
    * [Kesimpulan](#data_review_conclusions)
* [Tahap 2. Pra-pemrosesan data](#data_preprocessing)
    * [2.1 Gaya Penulisan Judul](#header_style)
    * [2.2 Nilai-Nilai yang Hilang](#missing_values)
    * [2.3 Duplikat](#duplicates)
    * [2.4 Kesimpulan](#data_preprocessing_conclusions)
* [Tahap 3. Pengujian Hipotesis](#hypotheses)
    * [3.1 Hipotesis 1: Aktivitas pengguna di kedua kota](#activity)
    * [3.2 Hipotesis 2: Preferensi musik pada hari Senin dan Jumat](#week)
    * [3.3 Hipotesis 3: Preferensi genre di kota Springfield dan Shelbyville](#genre)
* [Temuan](#end)

## Pendahuluan <a id='intro'></a>
Setiap kali kita melakukan analisis, kita perlu merumuskan beberapa hipotesis yang perlu kita uji lebih lanjut. Terkadang, pengujian yang kita lakukan membawa kita untuk menerima hipotesis tersebut, adakalanya kita juga perlu menolaknya. Untuk membuat keputusan yang tepat dalam bisnis, kita harus memahami apakah asumsi yang kita buat sudah tepat atau belum.

Dalam proyek kali ini, Anda akan membandingkan preferensi musik pengguna di kota Springfield dan Shelbyville. Anda akan mempelajari data Y.Music yang sebenarnya untuk menguji hipotesis di bawah ini dan membandingkan perilaku pengguna di kedua kota ini.

### Tujuan: 
Menguji tiga hipotesis:
1. Aktivitas pengguna berbeda-beda tergantung pada hari dan kotanya.
2. Pada senin pagi, penduduk Springfield dan Shelbyville mendengarkan genre yang berbeda. Hal ini juga berlaku pada hari Jumat malam.
3. Pendengar di Springfield dan Shelbyville memiliki preferensi yang berbeda. Di Springfield, para pengguna lebih suka musik pop, sementara di Shelbyville musik rap memiliki lebih banyak penggemar.

### Tahapan
Data tentang perilaku pengguna disimpan dalam *file* `/datasets/music_project_en.csv`. Tidak ada informasi terkait kualitas data tersebut, jadi Anda perlu memeriksanya terlebih dahulu sebelum menguji hipotesis.

Pertama, Anda akan mengevaluasi kualitas data dan melihat apakah masalahnya signifikan. Kemudian, selama pra-pemrosesan data, Anda akan mencoba mengatasi masalah yang paling serius.
 
Proyek ini akan terdiri dari tiga tahap:
 1. Ikhtisar Data
 2. Pra-pemrosesan Data
 3. Pengujian hipotesis

 
[Kembali ke Konten](#back)

<div class="alert alert-block alert-success">
<b>Reviewer's comment v1</b> <a class="tocSkip"></a>

Selalu ingat untuk memulai setiap notebook proyek dengan deskripsi, tahapan, dan tujuan proyek seperti yang sudah dicontohkan di atas.
</div>

## Tahap 1. Ikhtisar Data <a id='data_review'></a>

Buka data terkait Y.Music, lalu jelajahilah data tersebut.

Anda akan membutuhkan *library* `Pandas`, oleh karena itu silakan mengimpornya.

In [39]:
import pandas as pd

<div class="alert alert-block alert-success">
<b>Reviewer's comment v1</b> <a class="tocSkip"></a>

Library sudah dimuat dengan baik.
</div>

Baca *file* `music_project_en.csv` dari folder `/datasets/` lalu simpan di variabel `df`:

In [40]:
# membaca berkas dan menyimpannya ke df
df = pd.read_csv('/datasets/music_project_en.csv')

<div class="alert alert-block alert-success">
<b>Reviewer's comment v1</b> <a class="tocSkip"></a>

Dataset sudah dimuat dengan baik.
</div>

Tampilkan 10 baris tabel pertamanya:

In [41]:
df.head(10)

,userID,Track,artist,genre,City,time,Day
0,FFB692EC,Kamigata To Boots,The Mass Missile,rock,Shelbyville,20:28:33,Wednesday
1,55204538,Delayed Because of Accident,Andreas Rönnberg,rock,Springfield,14:07:09,Friday
2,20EC38,Funiculì funiculà,Mario Lanza,pop,Shelbyville,20:58:07,Wednesday
3,A3DD03C9,Dragons in the Sunset,Fire + Ice,folk,Shelbyville,08:37:09,Monday
4,E2DC1FAE,Soul People,Space Echo,dance,Springfield,08:34:34,Monday
5,842029A1,Chains,Obladaet,rusrap,Shelbyville,13:09:41,Friday
6,4CB90AA5,True,Roman Messer,dance,Springfield,13:00:07,Wednesday
7,F03E1C1F,Feeling This Way,Polina Griffith,dance,Springfield,20:47:49,Wednesday
8,8FA1D3BE,L’estate,Julia Dalia,ruspop,Springfield,09:17:40,Friday
9,E772D5C0,Pessimist,NaN,dance,Shelbyville,21:20:49,Wednesday

<div class="alert alert-block alert-warning">
<b>Reviewer's comment v1</b> <a class="tocSkip"></a>

Untuk cell yang hanya berisi satu baris kode seperti di atas dan cell setelah ini, kamu tidak perlu menggunakan perintah `print()` untuk menampilkan hasil fungsi ya, jadi `print` bisa dihapus pada cell-cell dengan hanya 1 baris kode.
</div>

<div class="alert alert-block alert-success">
<b>Reviewer's comment v2</b> <a class="tocSkip"></a>
    
Oke, sudah tidak menggunakan `print()`.
</div>

Dapatkan informasi umum tentang tabel dengan satu perintah:

In [42]:
df.describe()

          userID  Track     artist  genre       City        time     Day
count      65079  63736      57512  63881        65079     65079   65079
unique     41748  39666      37806    268            2     20392       3
top     A8AE9169  Brand  Kartvelli    pop  Springfield  21:51:22  Friday
freq          76    136        136   8850        45360        14   23149

<div class="alert alert-block alert-danger">
<b>Reviewer's comment v1</b> <a class="tocSkip"></a>

Kamu perlu menggunakan satu fungsi lagi untuk eksplorasi awal yaitu `df.describe()`. Fungsi `describe` bisa membantu kamu mengidentifikasi komponen penting dari setiap kolom.
</div>

<div class="alert alert-block alert-warning">
<b>Reviewer's comment v2</b> <a class="tocSkip"></a>

Sip! Tapi tidak usah menggunakan `print()` ya.
</div>

<div class="alert alert-block alert-success">
<b>Reviewer's comment v3</b> <a class="tocSkip"></a>

Oke, sudah tidak menggunakan `print()`.
</div>

Terdapat pula jumlah nilai yang berbeda antar kolom. Semuanya menyimpan tipe data yang sama, yaitu: `object`.

Berdasarkan dokumentasi:
- `'userID'` — ID pengguna
- `'Track'` — judul trek lagu
- `'artist'` — nama artis
- `'genre'`
- `'City'` — kota tempat pengguna berada
- `'time'` — lama waktu lagu tersebut dimainkan
- `'Day'` — hari dalam seminggu

Kita dapat melihat tiga masalah dengan gaya penulisan nama kolom:
1. Beberapa nama ditulis dalam huruf besar, beberapa dalam huruf kecil.
2. Beberapa nama menggunakan spasi.
3. Beberapa kolom ada data nilai yang hilang.

Jumlah nilai kolom berbeda. Hal ini menandakan bahwa data yang kita miliki mengandung nilai yang hilang.

### Kesimpulan <a id='data_review_conclusions'></a> 

Setiap baris dalam tabel menyimpan data terkait trek lagu yang diputar. Sejumlah kolom menyimpan data yang mendeskripsikan trek itu sendiri: judul trek, artis, dan genre. Sisanya menyimpan data terkait informasi pengguna: kota asal mereka, waktu mereka memutar trek lagu tersebut.

Jelas bahwa data yang kita miliki cukup untuk menguji hipotesis. Meski demikian, kita memiliki nilai-nilai yang hilang.

Untuk melanjutkan analisis, kita perlu melakukan pra-pemrosesan data terlebih dahulu.

<div class="alert alert-block alert-success">
<b>Reviewer's comment v1</b> <a class="tocSkip"></a>

Pada setiap akhir bagian, jangan lupa untuk selalu menuliskan kesimpulan sementara yang berisi langkah apa yang baru saja dilakukan dan juga bisa tuliskan jika ada hasil analisis pada bagian tersebut, seperti dicontohkan di atas dan pada bagian-bagian berikutnya ya.
</div>

[Kembali ke Daftar Isi](#back)

## Tahap 2. Pra-pemrosesan Data <a id='data_preprocessing'></a>
Perbaiki format pada judul kolom dan atasi nilai yang hilang. Kemudian, periksa apakah data Anda mengandung duplikat.

### Gaya Penulisan Judul <a id='header_style'></a>
Tampilkan judul kolom:

In [43]:
df.columns

Index(['  userID', 'Track', 'artist', 'genre', '  City  ', 'time', 'Day'], dtype='object')

<div class="alert alert-block alert-warning">
<b>Reviewer's comment v2</b> <a class="tocSkip"></a>
    
Tidak perlu menggunakan `print()` ya.
</div>

<div class="alert alert-block alert-success">
<b>Reviewer's comment v3</b> <a class="tocSkip"></a>

Sip.
</div>

Ubah nama kolom sesuai dengan aturan gaya penulisan yang baik:
* Jika nama memiliki beberapa kata, gunakan snake_case
* Semua karakter harus menggunakan huruf kecil
* Hapus spasi

In [44]:
df= df.rename (
    columns= {'  userID': 'user_id',
             'Track' : 'track',
             '  City  ' : 'city',
             'Day' : 'day'})

<div class="alert alert-block alert-danger">
<b>Reviewer's comment v2</b> <a class="tocSkip"></a>
    
Setelah `rename` tidak perlu menampilkan `df.rename` ya, karena `df.rename` adalah sebuah fungsi.
</div>

Periksa hasilnya. Tampilkan nama kolom sekali lagi:

In [45]:
print (df.columns)

Index(['user_id', 'track', 'artist', 'genre', 'city', 'time', 'day'], dtype='object')

<div class="alert alert-block alert-success">
<b>Reviewer's comment v1</b> <a class="tocSkip"></a>

Perbaikan nama kolom sudah benar.
</div>

[Kembali ke Daftar Isi](#back)

### Nilai-Nilai yang Hilang <a id='missing_values'></a>
Pertama, temukan jumlah nilai yang hilang dalam tabel. Untuk melakukannya, gunakan dua metode `Pandas`:

In [46]:
df.isna().sum() # menghitung nilai yang hilang

user_id       0
track      1343
artist     7567
genre      1198
city          0
time          0
day           0
dtype: int64

<div class="alert alert-block alert-warning">
<b>Reviewer's comment v1</b> <a class="tocSkip"></a>

Pengecekan nilai hilang sudah bagus. Tidak perlu menggunakan perintah `print` ya.
</div>

<div class="alert alert-block alert-success">
<b>Reviewer's comment v2</b> <a class="tocSkip"></a>
    
Oke, sudah tidak menggunakan `print`.
</div>

Tidak semua nilai yang hilang berpengaruh terhadap penelitian. Misalnya, nilai yang hilang dalam kolom `track` dan `artist` tidak begitu penting. Anda cukup menggantinya dengan penanda yang jelas.
Namun, nilai yang hilang dalam kolom `'genre'` dapat memengaruhi perbandingan preferensi musik di Springfield dan Shelbyville. Dalam kehidupan nyata, sangatlah berguna untuk mempelajari alasan mengapa data tersebut hilang dan mencoba memperbaikinya. Sayangnya, kita belum memiliki kesempatan tersebut dalam proyek ini. Oleh karena itu, Anda harus:
* Mengisi nilai yang hilang dengan penanda
* Mengevaluasi seberapa besar nilai yang hilang dapat memengaruhi perhitungan Anda

Ganti nilai yang hilang pada kolom `'track'`, `'artist'`, dan `'genre'` dengan *string* `'unknown'`. Untuk melakukannya, buat *list* `columns_to_replace`, terapkan *loop* dengan `for` pada *list* tersebut, dan ganti nilai yang hilang di setiap kolom:

In [48]:
columns = ['track','artist','genre']
for col in columns:
    df[col].fillna('unknown', inplace=True)

<div class="alert alert-block alert-success">
<b>Reviewer's comment v1</b> <a class="tocSkip"></a>

Mengisi nilai hilang sudah sangat bagus.
</div>

Pastikan tidak ada tabel lagi yang berisi nilai yang hilang. Hitung kembali nilai yang hilang.

In [49]:
df.isna().sum()

user_id    0
track      0
artist     0
genre      0
city       0
time       0
day        0
dtype: int64

<div class="alert alert-block alert-success">
<b>Reviewer's comment v1</b> <a class="tocSkip"></a>

Sip!
</div>

[Kembali ke Daftar Isi](#back)

### Duplikat <a id='duplicates'></a>
Temukan jumlah duplikat eksplisit dalam tabel menggunakan satu perintah:

In [50]:
print (df.duplicated().sum())

3826

Panggil metode `Pandas` untuk menghapus duplikat eksplisit:

In [51]:
df=df.drop_duplicates()

Hitung duplikat eksplisit sekali lagi untuk memastikan bahwa Anda telah menghapus semuanya:

In [52]:
df.duplicated().sum()

0

<div class="alert alert-block alert-warning">
<b>Reviewer's comment v1</b> <a class="tocSkip"></a>

Pengecekan dan perbaikan duplikat sudah sangat baik! Tidak perlu menggunakan perintah `print` ya.
</div>

<div class="alert alert-block alert-success">
<b>Reviewer's comment v2</b> <a class="tocSkip"></a>
    
Oke, sudah tidak menggunakan `print`.
</div>

Sekarang hapus duplikat implisit di kolom `genre`. Misalnya, nama genre dapat ditulis dengan cara yang berbeda. Kesalahan seperti ini juga akan memengaruhi hasil Anda.

Tampilkan *list* yang memuat nama genre unik, lalu urutkan *list* tersebut berdasarkan abjad. Untuk melakukannya:
* Ambil kolom DataFrame yang dimaksud
* Terapkan metode pengurutan pada kolom tersebut
* Untuk kolom yang telah diurutkan, panggil metode yang akan menghasilkan semua nilai unik kolom

In [53]:
df['genre'].sort_values().unique()

array(['acid', 'acoustic', 'action', 'adult', 'africa', 'afrikaans',
       'alternative', 'ambient', 'americana', 'animated', 'anime',
       'arabesk', 'arabic', 'arena', 'argentinetango', 'art', 'audiobook',
       'avantgarde', 'axé', 'baile', 'balkan', 'beats', 'bigroom',
       'black', 'bluegrass', 'blues', 'bollywood', 'bossa', 'brazilian',
       'breakbeat', 'breaks', 'broadway', 'cantautori', 'cantopop',
       'canzone', 'caribbean', 'caucasian', 'celtic', 'chamber',
       'children', 'chill', 'chinese', 'choral', 'christian', 'christmas',
       'classical', 'classicmetal', 'club', 'colombian', 'comedy',
       'conjazz', 'contemporary', 'country', 'cuban', 'dance',
       'dancehall', 'dancepop', 'dark', 'death', 'deep', 'deutschrock',
       'deutschspr', 'dirty', 'disco', 'dnb', 'documentary', 'downbeat',
       'downtempo', 'drum', 'dub', 'dubstep', 'eastern', 'easy',
       'electronic', 'electropop', 'emo', 'entehno', 'epicmetal',
       'estrada', 'ethnic', 'eurofolk', 'european', 'experimental',
       'extrememetal', 'fado', 'film', 'fitness', 'flamenco', 'folk',
       'folklore', 'folkmetal', 'folkrock', 'folktronica', 'forró',
       'frankreich', 'französisch', 'french', 'funk', 'future', 'gangsta',
       'garage', 'german', 'ghazal', 'gitarre', 'glitch', 'gospel',
       'gothic', 'grime', 'grunge', 'gypsy', 'handsup', "hard'n'heavy",
       'hardcore', 'hardstyle', 'hardtechno', 'hip', 'hip-hop', 'hiphop',
       'historisch', 'holiday', 'hop', 'horror', 'house', 'idm',
       'independent', 'indian', 'indie', 'indipop', 'industrial',
       'inspirational', 'instrumental', 'international', 'irish', 'jam',
       'japanese', 'jazz', 'jewish', 'jpop', 'jungle', 'k-pop',
       'karadeniz', 'karaoke', 'kayokyoku', 'korean', 'laiko', 'latin',
       'latino', 'leftfield', 'local', 'lounge', 'loungeelectronic',
       'lovers', 'malaysian', 'mandopop', 'marschmusik', 'meditative',
       'mediterranean', 'melodic', 'metal', 'metalcore', 'mexican',
       'middle', 'minimal', 'miscellaneous', 'modern', 'mood', 'mpb',
       'muslim', 'native', 'neoklassik', 'neue', 'new', 'newage',
       'newwave', 'nu', 'nujazz', 'numetal', 'oceania', 'old', 'opera',
       'orchestral', 'other', 'piano', 'pop', 'popelectronic',
       'popeurodance', 'post', 'posthardcore', 'postrock', 'power',
       'progmetal', 'progressive', 'psychedelic', 'punjabi', 'punk',
       'quebecois', 'ragga', 'ram', 'rancheras', 'rap', 'rave', 'reggae',
       'reggaeton', 'regional', 'relax', 'religious', 'retro', 'rhythm',
       'rnb', 'rnr', 'rock', 'rockabilly', 'romance', 'roots', 'ruspop',
       'rusrap', 'rusrock', 'salsa', 'samba', 'schlager', 'self',
       'sertanejo', 'shoegazing', 'showtunes', 'singer', 'ska', 'slow',
       'smooth', 'soul', 'soulful', 'sound', 'soundtrack', 'southern',
       'specialty', 'speech', 'spiritual', 'sport', 'stonerrock', 'surf',
       'swing', 'synthpop', 'sängerportrait', 'tango', 'tanzorchester',
       'taraftar', 'tech', 'techno', 'thrash', 'top', 'traditional',
       'tradjazz', 'trance', 'tribal', 'trip', 'triphop', 'tropical',
       'türk', 'türkçe', 'unknown', 'urban', 'uzbek', 'variété', 'vi',
       'videogame', 'vocal', 'western', 'world', 'worldbeat', 'ïîï'],
      dtype=object)

<div class="alert alert-block alert-danger">
<b>Reviewer's comment v1</b> <a class="tocSkip"></a>

Sesuai instruksi, kamu perlu menampilkan daftar genre terurut secara alfabet ya. Salah satu cara untuk menampilkan *list* secara terurut, kamu bisa menggunakan fungsi `sorted()`.
</div>

<div class="alert alert-block alert-danger">
<b>Reviewer's comment v2</b> <a class="tocSkip"></a>
    
Untuk mengurutkan daftar `genre`, kamu bisa menggunakan `sorted()` seperti ini:
    
    sorted(df['genre'].unique())
    
Atau menggunakan `sort_values()` seperti ini:
    
    df['genre'].sort_values().unique()
    
Sekarang notebook menjadi error karena kamu menuliskan komentar tanpa tanda `#`. Jika kamu ingin menambahkan komentar dalam cell kode, kamu bisa menuliskan komentar setelah tanda `#`, contoh:
    
    df['genre'].unique()  # pake sorted katanya yg ini
    
</div>

<div class="alert alert-block alert-success">
<b>Reviewer's comment v3</b> <a class="tocSkip"></a>

Sip!
</div>

Lihat baik-baik *list*-nya untuk menemukan duplikat implisit dari genre `hiphop`. Duplikat tersebut bisa berupa nama yang ditulis secara tidak tepat atau nama alternatif dari genre yang sama.

Anda akan melihat duplikat implisit berikut:
* `hip`
* `hop`
* `hip-hop`

Untuk menghapusnya, gunakan fungsi `replace_wrong_genres()` dengan dua parameter:
* `wrong_genres=` — *list* dari duplikat yang ingin diganti
* `correct_genre=` — *string* dengan nilai yang benar

Fungsi tersebut harus mengoreksi nama dalam kolom `'genre'` dari tabel `df` dengan mengganti setiap nilai dari *list* `wrong_genres` dengan nilai dari `correct_genre`.

In [54]:
def replace_wrong_values(wrong_values, correct_values):
    for wrong_value in wrong_values:
        df['genre']=df['genre'].replace(wrong_values, correct_values)

<div class="alert alert-block alert-success">
<b>Reviewer's comment v1</b> <a class="tocSkip"></a>

Fungsi `replace_wrong_values` sudah bagus sekali.
</div>

Panggil `replace_wrong_genres()` dan teruskan argumen kepada fungsi tersebut, sehingga ia dapat menghapus duplikat implisit (`hip`, `hop`, dan `hip-hop`) dan menggantinya dengan `hiphop`:

In [55]:
duplicates=['hip','hop','hip-hop']
name='hiphop'
replace_wrong_values(duplicates,name)
df.head()

,user_id,track,artist,genre,city,time,day
0,FFB692EC,Kamigata To Boots,The Mass Missile,rock,Shelbyville,20:28:33,Wednesday
1,55204538,Delayed Because of Accident,Andreas Rönnberg,rock,Springfield,14:07:09,Friday
2,20EC38,Funiculì funiculà,Mario Lanza,pop,Shelbyville,20:58:07,Wednesday
3,A3DD03C9,Dragons in the Sunset,Fire + Ice,folk,Shelbyville,08:37:09,Monday
4,E2DC1FAE,Soul People,Space Echo,dance,Springfield,08:34:34,Monday

<div class="alert alert-block alert-warning">
<b>Reviewer's comment v1</b> <a class="tocSkip"></a>

Sip! Tidak perlu fungsi `print` ya untuk baris terakhir, tampilan `df` akan lebih baik tanpa fungsi `print`. Kamu juga bisa mengambil sampel supaya tampilannya lebih rapih: `df.head()`.
</div>

<div class="alert alert-block alert-success">
<b>Reviewer's comment v2</b> <a class="tocSkip"></a>

Oke, sudah tidak menggunakan `print`.
</div>

Pastikan bahwa nilai yang terduplikasi telah dihapus. Tampilkan *list* nilai unik dari kolom `'genre'`:

In [56]:
sorted(df['genre'].unique())

df.duplicated().sum()

0

<div class="alert alert-block alert-warning">
<b>Reviewer's comment v1</b> <a class="tocSkip"></a>

Lebih mudah dibaca jika dua fungsi di atas dipisah saja menjadi 2 cell berbeda ya, masing-masing tanpa `print`.
</div>

<div class="alert alert-block alert-warning">
<b>Reviewer's comment v2</b> <a class="tocSkip"></a>

Bisa dipisahkan menjadi 2 cell saja ya, masing-masing cell 1 baris kode:
    
    sorted(df['genre'].unique())
    
dan pada cell terpisah

    df.duplicated().sum()
</div>

[Kembali ke Daftar Isi](#back)

### Kesimpulan <a id='data_preprocessing_conclusions'></a>
Kita telah mendeteksi tiga masalah dalam data kita:

- Gaya penulisan judul yang salah
- Nilai-nilai yang hilang
- Duplikat eksplisit dan implisit

Judul kolom sekarang telah dibersihkan untuk mempermudah pemrosesan tabel.
Semua nilai yang hilang telah diganti dengan `'unknown'`. Meski demikian, kita masih harus melihat apakah nilai yang hilang dalam kolom `'genre'` akan memengaruhi perhitungan kita.

Ketiadaan duplikat akan membuat hasil yang kita dapat lebih tepat dan lebih mudah dipahami.

Sekarang, kita dapat melanjutkan ke pengujian hipotesis.

[Kembali ke Daftar Isi](#back)

## Tahap 3. Pengujian Hipotesis <a id='hypotheses'></a>

### Hipotesis 1: Membandingkan Perilaku Pengguna di Dua Kota <a id='activity'></a>

Menurut hipotesis pertama, pengguna dari Springfield dan Shelbyville memiliki perbedaan perilaku dalam mendengarkan musik. Pengujian ini menggunakan data yang diambil dari tiga hari dalam seminggu: Senin, Rabu, dan Jumat.

* Bagilah pengguna ke dalam beberapa kelompok berdasarkan kota.
* Bandingkan seberapa banyak trek lagu yang dimainkan setiap kelompok pada hari Senin, Rabu, dan Jumat.

Hanya sebagai latihan, lakukan setiap perhitungan secara terpisah.

Evaluasi aktivitas pengguna di setiap kota. Kelompokkan data berdasarkan kota dan temukan jumlah trek lagu yang diputar di setiap kelompok.

In [57]:
print(df.groupby('city')['track'].count())

city
Shelbyville    18512
Springfield    42741
Name: track, dtype: int64

<div class="alert alert-block alert-success">
<b>Reviewer's comment v1</b> <a class="tocSkip"></a>

Bagus sekali!
</div>

Pengguna dari Springfield memutar lebih banyak trek lagu daripada pengguna Shelbyville. Namun, hal ini tidak mengisyaratkan bahwa warga Springfield lebih sering mendengarkan musik. Kota ini lebih besar, dan terdapat lebih banyak pengguna.

Sekarang, kelompokkan data berdasarkan hari dan temukan jumlah trek lagu yang diputar pada hari Senin, Rabu, dan Jumat.

In [58]:
df.groupby('day')['track'].count()

day
Friday       21840
Monday       21354
Wednesday    18059
Name: track, dtype: int64

<div class="alert alert-block alert-warning">
<b>Reviewer's comment v1</b> <a class="tocSkip"></a>

Sudah bagus, tidak perlu `print` ya :)
</div>

<div class="alert alert-block alert-success">
<b>Reviewer's comment v2</b> <a class="tocSkip"></a>

Sudah tidak menggunakan `print` sekarang.
</div>

Rabu adalah hari yang paling tenang secara keseluruhan. Namun jika kita mempertimbangkan kedua kota secara terpisah, kita mungkin akan mendapatkan kesimpulan yang berbeda.

Anda telah melihat cara kerja pengelompokan berdasarkan kota atau hari. Sekarang, tuliskan sebuah fungsi yang akan mengelompokkan data berdasarkan kota dan hari.

Buat fungsi `number_tracks()` untuk menghitung jumlah trek lagu yang diputar untuk hari dan kota tertentu. Fungsi tersebut akan membutuhkan dua parameter:
* nama hari dalam seminggu
* nama kota

Dalam fungsi yang kita buat, gunakan variabel untuk menyimpan baris dari tabel asli, di mana:
  *  Nilai kolom `'day'` sama dengan parameter `day`
  * Nilai kolom `'city'` sama dengan parameter `city`

Terapkan pemfilteran berurutan dengan pengindeksan logika.

Kemudian hitung nilai kolom `'user_id'` pada tabel yang dihasilkan. Simpan hasilnya ke dalam variabel baru. Kembalikan variabel ini dari fungsi.

In [59]:
def number_tracks(day, city):
    df_filter = df[(df['day'] == day) & (df['city'] == city)] 
    track_list_count = df_filter['user_id'].count()
    return track_list_count

# Kita akan mendeklarasikan sebuah fungsi dengan dua parameter: day=, city=.
# Buat agar variabel track_list menyimpan baris df, di mana
# nilai di kolom 'day' sama dengan parameter day=, serta pada saat yang bersamaan,
# nilai pada kolom 'city' sama dengan parameter city= (terapkan pemfilteran berurutan
# dengan pengindeksan logis).
# Buat agar variabel track_list_count menyimpan jumlah nilai kolom 'user_id' pada track_list
# (temukan dengan metode count()).
# Buat agar fungsi yang Anda ciptakan menghasilkan angka: nilai track_list_count.

# Fungsi tersebut menghitung trek lagu yang diputar untuk kota dan hari tertentu.
# Pertama-tama ia akan mengambil baris dengan hari yang diinginkan dari tabel,# kemudian memfilter baris tersebut dengan kota yang diinginkan,
# kemudian mencari jumlah nilai 'user_id' pada tabel yang telah difilter,
# kemudian menghasilkan jumlah tersebut.
# Untuk melihat apa yang dihasilkan, kemas pemanggilan fungsi pada print().

<div class="alert alert-block alert-warning">
<b>Reviewer's comment v1</b> <a class="tocSkip"></a>

Fungsi sudah bagus, untuk membuat kode lebih efisien, kamu bisa menggunakan notasi `&` untuk menggabungkan lebih dari satu filter pada dataframe ya:
    
    df_filter = df[(df['day'] == day) & (df['city'] == city)]
</div>

<div class="alert alert-block alert-danger">
<b>Reviewer's comment v2</b> <a class="tocSkip"></a>

Penulisan tanda kurung pada baris pertama sedikit keliru ya, kamu bisa periksa lagi, seharusnya:
    
    df_filter = df[(df['day'] == day) & (df['city'] == city)]
</div>

<div class="alert alert-block alert-danger">
<b>Reviewer's comment v3</b> <a class="tocSkip"></a>

Hi Viska, baris pertama fungsi kamu masih keliru ya, yang mengakibatkan notebook tidak bisa dijalankan dari awal hingga akhir dengan sukses, kamu bisa mengganti baris ini:
    
    df_filter = df[df['day'] == day] & df['city'] == city 
    
menjadi:
    
    df_filter = df[(df['day'] == day) & (df['city'] == city)]
</div>

<div class="alert alert-block alert-success">
<b>Reviewer's comment v4</b> <a class="tocSkip"></a>

Oke, sekarang sudah benar.
</div>

Panggil `number_tracks()` enam kali dan ubahlah nilai parameternya pada masing-masing panggilan, sehingga Anda bisa mengambil data kedua kota untuk masing-masing hari (Senin, Rabu, dan Jumat).

In [60]:
number_tracks('Monday','Springfield')

15740

In [61]:
number_tracks('Monday','Shelbyville')

5614

In [62]:
number_tracks('Wednesday','Springfield')

11056

In [25]:
number_tracks('Wednesday','Shelbyville')

7003

In [63]:
number_tracks('Friday','Springfield')

15945

In [27]:
number_tracks('Friday','Shelbyville')

5895

<div class="alert alert-block alert-success">
<b>Reviewer's comment v1</b> <a class="tocSkip"></a>

Bagus sekali!
</div>

Gunakan `pd.DataFrame` untuk membuat sebuah tabel, yang
* Nama kolomnya adalah: `['city', 'monday', 'wednesday', 'friday']`
* Datanya adalah hasil dari `number_tracks()` `number_tracks()`

In [64]:
kolom = ['city', 'monday', 'wednesday', 'friday']
isi = [
    ['Springfield',number_tracks('Monday','Springfield'),number_tracks('Wednesday','Springfield'),number_tracks('Friday','Springfield')],
    ['Shelbyville',number_tracks('Monday','Shelbyville'), number_tracks('Wednesday','Shelbyville'), number_tracks('Friday','Shelbyville')]
]
tabel= pd.DataFrame (data=isi, columns=kolom)
print (tabel)

          city  monday  wednesday  friday
0  Springfield   15740      11056   15945
1  Shelbyville    5614       7003    5895

<div class="alert alert-block alert-success">
<b>Reviewer's comment v1</b> <a class="tocSkip"></a>

Mantap!
</div>

**Kesimpulan**

Data yang Anda dapatkan mengungkapkan perbedaan perilaku pengguna:

- Di kota Springfield, jumlah trek lagu yang diputar mencapai puncaknya pada hari Senin dan Jumat, sedangkan pada hari Rabu terjadi penurunan aktivitas.
- Di kota Shelbyville, sebaliknya, pengguna lebih banyak mendengarkan musik pada hari Rabu.

Aktivitas pengguna pada hari Senin dan Jumat lebih sedikit.

[Kembali ke Daftar Isi](#back)

### Hipotesis 2: Musik di Awal dan Akhir Minggu <a id='week'></a>

Menurut hipotesis kedua, pada Senin pagi dan Jumat malam, warga Springfield mendengarkan genre musik yang berbeda dari yang dinikmati warga Shelbyville.

Dapatkan tabel (pastikan nama tabel gabungan Anda cocok dengan DataFrame yang diberikan dalam dua blok kode di bawah):
* Untuk Springfield — `spr_general`
* Untuk Shelbyville — `shel_general`

In [65]:
spr_general= df[df['city']=='Springfield']
spr_general

,user_id,track,artist,genre,city,time,day
1,55204538,Delayed Because of Accident,Andreas Rönnberg,rock,Springfield,14:07:09,Friday
4,E2DC1FAE,Soul People,Space Echo,dance,Springfield,08:34:34,Monday
6,4CB90AA5,True,Roman Messer,dance,Springfield,13:00:07,Wednesday
7,F03E1C1F,Feeling This Way,Polina Griffith,dance,Springfield,20:47:49,Wednesday
8,8FA1D3BE,L’estate,Julia Dalia,ruspop,Springfield,09:17:40,Friday
...,...,...,...,...,...,...,...
65073,83A474E7,I Worship Only What You Bleed,The Black Dahlia Murder,extrememetal,Springfield,21:07:12,Monday
65074,729CBB09,My Name,McLean,rnb,Springfield,13:32:28,Wednesday
65076,C5E3A0D5,Jalopiina,unknown,industrial,Springfield,20:09:26,Friday
65077,321D0506,Freight Train,Chas McDevitt,rock,Springfield,21:43:59,Friday
65078,3A64EF84,Tell Me Sweet Little Lies,Monica Lopez,country,Springfield,21:59:46,Friday

In [66]:
shel_general = df[df['city']=='Shelbyville']
shel_general

,user_id,track,artist,genre,city,time,day
0,FFB692EC,Kamigata To Boots,The Mass Missile,rock,Shelbyville,20:28:33,Wednesday
2,20EC38,Funiculì funiculà,Mario Lanza,pop,Shelbyville,20:58:07,Wednesday
3,A3DD03C9,Dragons in the Sunset,Fire + Ice,folk,Shelbyville,08:37:09,Monday
5,842029A1,Chains,Obladaet,rusrap,Shelbyville,13:09:41,Friday
9,E772D5C0,Pessimist,unknown,dance,Shelbyville,21:20:49,Wednesday
...,...,...,...,...,...,...,...
65063,D94F810B,Theme from the Walking Dead,Proyecto Halloween,film,Shelbyville,21:14:40,Monday
65064,BC8EC5CF,Red Lips: Gta (Rover Rework),Rover,electronic,Shelbyville,21:06:50,Monday
65065,29E04611,Bre Petrunko,Perunika Trio,world,Shelbyville,13:56:00,Monday
65066,1B91C621,(Hello) Cloud Mountain,sleepmakeswaves,postrock,Shelbyville,09:22:13,Monday
65075,D08D4A55,Maybe One Day (feat. Black Spade),Blu & Exile,hiphop,Shelbyville,10:00:00,Monday

Tulis fungsi `genre_weekday()` dengan empat parameter:
* Sebuah tabel untuk data
* Nama hari
* Stempel waktu pertama, dalam format 'hh:mm'
* Stempel waktu terakhir, dalam format 'hh:mm'

Fungsi tersebut harus menghasilkan informasi tentang 15 genre paling populer pada hari tertentu dalam periode antara dua stempel waktu.

<div class="alert alert-block alert-success">
<b>Reviewer's comment v1</b> <a class="tocSkip"></a>

Sip, pembagian dataframe menurut kota sudah bagus.
</div>

In [67]:


def genre_weekday(df, day, time1, time2):
    genre_df=df[df['day']==day]
    genre_df=genre_df[genre_df['time']<= time2]
    genre_df=genre_df[genre_df['time']>=time1]
    genre_df_grouped=genre_df.groupby('genre')['user_id'].count()
    genre_df_sorted=genre_df_grouped.sort_values(ascending=False)
    return genre_df_sorted[:15]

<div class="alert alert-block alert-danger">
<b>Reviewer's comment v1</b> <a class="tocSkip"></a>

Ada kesalahan pada saat kamu memfilter pada baris fungsi kedua dan ketiga, seharusnya menggunakan `genre_df` yang sudah kamu filter pada baris pertama:
    
    genre_df=df[df['day']==day]
    genre_df=genre_df[genre_df['time']<= time2]
    genre_df=genre_df[genre_df['time']>=time1]
    
</div>

<div class="alert alert-block alert-success">
<b>Reviewer's comment v1</b> <a class="tocSkip"></a>

Sip, sudah benar.
    
</div>

Bandingkan hasil fungsi `genre_weekday()` untuk Springfield dan Shelbyville pada Senin pagi (dari pukul 07.00 hingga 11.00) dan pada Jumat malam (dari pukul 17:00 hingga 23:00):

In [68]:
# memanggil fungsi untuk Senin pagi di Springfield (gunakan spr_general alih-alih tabel df)
genre_weekday(spr_general,'Monday', '07.00', '11.00')

genre
pop            781
dance          549
electronic     480
rock           474
hiphop         286
ruspop         186
world          181
rusrap         175
alternative    164
unknown        161
classical      157
metal          120
jazz           100
folk            97
soundtrack      95
Name: user_id, dtype: int64

In [69]:
genre_weekday(shel_general,'Monday', '07.00', '11.00')
# memanggil fungsi untuk Senin pagi di Shelbyville (gunakan shel_general alih-alih tabel df)

genre
pop            218
dance          182
rock           162
electronic     147
hiphop          80
ruspop          64
alternative     58
rusrap          55
jazz            44
classical       40
world           36
rap             32
soundtrack      31
rnb             27
metal           27
Name: user_id, dtype: int64

In [70]:
genre_weekday(spr_general, 'Friday', '17.00', '23.00')
# memanggil fungsi untuk Jumat malam di Springfield

genre
pop            713
rock           517
dance          495
electronic     482
hiphop         273
world          208
ruspop         170
classical      163
alternative    163
rusrap         142
jazz           111
unknown        110
soundtrack     105
rnb             90
metal           88
Name: user_id, dtype: int64

In [71]:
genre_weekday(shel_general, 'Friday', '17.00', '23.00')
# memanggil fungsi untuk Jumat malam di Shelbyville

genre
pop            256
rock           216
electronic     216
dance          210
hiphop          97
alternative     63
jazz            61
classical       60
rusrap          59
world           54
unknown         47
ruspop          47
soundtrack      40
metal           39
rap             36
Name: user_id, dtype: int64

**Kesimpulan**

Setelah membandingkan 15 genre teratas pada Senin pagi, kita dapat menarik kesimpulan berikut:

1. Pengguna dari Springfield dan Shelbyville mendengarkan musik dengan genre yang sama. Lima genre teratas dari kedua kota sama, hanya genre rock dan elektronik yang bertukar tempat.

2. Di Springfield, jumlah nilai yang hilang ternyata sangat besar, sehingga nilai `'unknown'` berada di urutan ke-10. Ini berarti bahwa nilai-nilai yang hilang mencakup proporsi data yang cukup besar, sehingga fakta ini bisa menjadi dasar untuk mempertanyakan reliabilitas kesimpulan kami.

Untuk hari Jumat malam, situasinya juga serupa. Genre individual cukup bervariasi, tetapi secara keseluruhan, 15 besar genre untuk kedua kota sama.

Dengan demikian, hipotesis kedua sebagian terbukti benar:
* Pengguna mendengarkan musik yang sama di awal dan akhir minggu.
* Tidak ada perbedaan yang mencolok antara Springfield dan Shelbyville. Di kedua kota tersebut, pop adalah genre yang paling populer.

Meski demikian, signifikansi jumlah nilai yang hilang membuat hasil ini patut dipertanyakan. Di Springfield, terdapat begitu banyak nilai hilang yang memengaruhi hasil 15 genre teratas kita. Jika kita tidak memiliki nilai-nilai yang hilang ini, hasilnya mungkin akan berbeda.

[Kembali ke Daftar Isi](#back)

### Hipotesis 3: Preferensi Genre di Springfield dan Shelbyville <a id='genre'></a>

Hipotesis: Shelbyville menyukai musik rap. Warga Springfield lebih menyukai pop.

Kelompokkan tabel `spr_general` berdasarkan genre dan temukan jumlah trek lagu yang dimainkan untuk setiap genre dengan metode `count()`. Kemudian, urutkan hasilnya dalam urutan menurun dan simpanlah ke `spr_genres`.

In [75]:
# spr_general = spr_general.groupby('genre').count()
spr_genres = spr_general.groupby('genre')['track'].count()
spr_genres = spr_genres.sort_values(ascending = False)
spr_genres

# dalam satu baris: kelompokkan tabel spr_general berdasarkan kolom 'genre',
# hitung nilai kolom 'genre' dengan count() dalam pengelompokan,
# urutkan Series yang dihasilkan dalam urutan menurun, lalu simpan hasilnya ke spr_genres

genre
pop            5892
dance          4435
rock           3965
electronic     3786
hiphop         2096
               ...
metalcore         1
marschmusik       1
malaysian         1
lovers            1
ïîï               1
Name: track, Length: 250, dtype: int64

<div class="alert alert-block alert-danger">
<b>Reviewer's comment v1</b> <a class="tocSkip"></a>

Sudah hampir benar, seharusnya baris pertama kamu menggunakan `spr_general`, bukan `df`. Contoh:
    
    spr_genres = spr_general.groupby('genre')['track'].count()
    spr_genres = spr_genres.sort_values(ascending = False)
    
</div>

<div class="alert alert-block alert-danger">
<b>Reviewer's comment v3</b> <a class="tocSkip"></a>

Pada baris kedua, kamu menggunakan `spr_genres` tetapi nilai variabel ini belum ada sehingga cell gagal dijalankan. Kamu bisa mengganti baris pertama dari:
    
    spr_general = spr_general.groupby('genre').count()
    
menjadi
    
    spr_genres = spr_general.groupby('genre')['track'].count()
    
dan baris kedua karena sudah memilih kolom 'track', bisa hilangkan saja parameter `by`:
    
    spr_genres = spr_genres.sort_values(ascending = False)
</div>

<div class="alert alert-block alert-success">
<b>Reviewer's comment v4</b> <a class="tocSkip"></a>

Mantap :)
</div>

Tampilkan 10 baris pertama dari `spr_genres`:

In [73]:
spr_genres.head(10)

genre
pop            5892
dance          4435
rock           3965
electronic     3786
hiphop         2096
classical      1616
world          1432
alternative    1379
ruspop         1372
rusrap         1161
Name: track, dtype: int64

Sekarang lakukan hal yang sama pada data dari Shelbyville.

Kelompokkan tabel `shel_general` berdasarkan genre dan temukan jumlah trek lagu yang dimainkan untuk setiap genre. Kemudian, urutkan hasilnya dalam urutan menurun dan simpan hasil tersebut ke tabel `shel_genres`:

In [76]:
shel_genres = shel_general.groupby('genre')['track'].count()
shel_genres = shel_genres.sort_values(ascending = False)
shel_genres

# dalam satu baris: kelompokkan tabel shel_general berdasarkan kolom 'genre',
# hitung nilai kolom 'genre' dalam pengelompokan menggunakan count(),
# urutkan Series yang dihasilkan dalam urutan menurun dan simpanlah ke shel_genres

genre
pop           2431
dance         1932
rock          1879
electronic    1736
hiphop         960
              ...
mandopop         1
leftfield        1
laiko            1
jungle           1
worldbeat        1
Name: track, Length: 202, dtype: int64

<div class="alert alert-block alert-danger">
<b>Reviewer's comment v1</b> <a class="tocSkip"></a>

Baris pertama seharusnya menggunakan `shel_general`, bukan `df` ya seperti halnya di atas untuk `spr_genres`.
    
</div>

<div class="alert alert-block alert-danger">
<b>Reviewer's comment v3</b> <a class="tocSkip"></a>

Pada baris kedua, kamu menggunakan `spr_genres` tetapi nilai variabel ini belum ada sehingga cell gagal dijalankan. Kamu bisa mengganti baris pertama dari:
    
    shel_general = shel_general.groupby('genre').count()
    
menjadi
    
    shel_genres = shel_general.groupby('genre')['track'].count()
    
dan baris kedua karena sudah memilih kolom 'track', bisa hilangkan saja parameter `by`:
    
    shel_genres = shel_genres.sort_values(ascending = False)
</div>

<div class="alert alert-block alert-success">
<b>Reviewer's comment v4</b> <a class="tocSkip"></a>

Oke, sudah bagus.
</div>

Tampilkan 10 baris pertama dari `shel_genres`:

In [77]:
shel_genres.head(10)
# menampilkan 10 baris pertama dari shel_genres

genre
pop            2431
dance          1932
rock           1879
electronic     1736
hiphop          960
alternative     649
classical       646
rusrap          564
ruspop          538
world           515
Name: track, dtype: int64

**Kesimpulan**

Hipotesis ini terbukti benar sebagian:
* Musik pop adalah genre yang paling populer di Springfield, seperti yang kita perkirakan.
* Namun, musik pop ternyata sama populernya baik di Springfield maupun di Shelbyville, dan musik rap ternyata tidak masuk ke daftar 5 besar genre untuk kedua kota tersebut.

[Kembali ke Daftar Isi](#back)

# Temuan <a id='end'></a>

Kita telah menguji tiga hipotesis berikut:

1. Aktivitas pengguna di Springfield dan Shelbyville bergantung pada hari dalam seminggu, meskipun kedua kota ini bervariasi dalam berbagai cara.
2. Pada senin pagi, penduduk Springfield dan Shelbyville mendengarkan genre yang berbeda. Hal ini juga berlaku pada hari Jumat malam.
3. Pendengar di Springfield dan Shelbyville memiliki preferensi yang berbeda. Baik Springfield maupun di Shelbyville, mereka lebih suka musik pop.

Setelah menganalisis data yang tersedia, kita dapat menyimpulkan bahwa:

1. Aktivitas pengguna di Springfield dan Shelbyville bergantung pada harinya, walaupun kotanya berbeda.

Hipotesis pertama dapat diterima sepenuhnya.

2. Preferensi musik tidak bervariasi secara signifikan sepanjang minggu di Springfield dan Shelbyville. Kita bisa melihat perbedaan kecil dalam urutan pada hari Senin, tetapi:
* Baik di Springfield maupun di Shelbyville, pengguna paling banyak mendengarkan musik pop.

Oleh karena itu, hipotesis ini tidak dapat kita terima. Penting juga untuk mengingat bahwa hasil yang diperoleh bisa saja berbeda seandainya kita tidak memiliki nilai yang hilang.
3. Ternyata preferensi musik pengguna dari Springfield dan Shelbyville sangat mirip.

Hipotesis ketiga ditolak. Jika memang terdapat perbedaan preferensi, sayangnya hal ini tidak dapat kita ketahui dari data ini.
### Catatan
Dalam proyek sesungguhnya, penelitian melibatkan pengujian hipotesis statistik, yang tentunya lebih tepat dan lebih kuantitatif. Perhatikan juga bahwa Anda tidak dapat selalu menarik kesimpulan tentang seluruh kota berdasarkan data dari satu sumber saja.

Anda akan mempelajari pengujian hipotesis dalam sprint analisis data statistik.

[Kembali ke Daftar Isi](#back)

<div class="alert alert-block alert-success">
<b>Reviewer's comment v1</b> <a class="tocSkip"></a>

Selalu ingat juga untuk menuliskan kesimpulan akhir pada penutup setiap notebook proyek ya. Kesimpulan akhir sangat penting sebagai rekapitulasi akan langkah-langkah yang sudah kamu lakukan dan insight apa saja yang kamu dapatkan dari hasil analisis pada notebook. Dengan menuliskan kesimpulan pada setiap bagian dan pada akhir notebook, pembaca bisa dengan mudah mengikuti alur proses notebook kamu dan mengerti hasil analisis yang kamu sudah lakukan.

</div>